<h1> All Stores </h1>

<%= link_to "new store", new_store_path %>
<br/>
<hr/>

<% @stores.each do |store| %>
  <%= store.name %> |
  <%= store.plz %> |
  <%= link_to "edit", edit_store_path(store.id) %> |
  <%= link_to "delete", store_path(store.id), :method => :delete, :data => { :confirm => "You sure?" } %>
  <hr/>
<% end %>
